*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
TestProjectDesktopNet6/TestProjectDesktopNet6/bin/
TestProjectDesktopNet6/bin/
TestProjectDesktopNet6/TestProjectDesktopNet6/obj/
TestProjectDesktopNet6/obj/
TestProjectDesktopNet6/Content/obj/
!TestProjectDesktopNet6/x64
!TestProjectDesktopNet6/x86
!TestProjectDesktopNet6/Libraries
